.screen {
  background-color: aquamarine;
  font-size: 50px;
  text-align: center;
  height: auto;
  
}

.option-btn {
  background-color: burlywood;
  color: rgb(41, 82, 82);
  justify-content: center;
  width: 30%;
  height: 30%;
  font-size: larger;
  border-radius: 100px;
}

.score {
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 10px;
  border-color: black;
  border-style: ridge;
  border-radius: 70%;
  border
  margin: auto;
}

.reset-container {
  height: 100px;
  font-size: auto;
  border-radius: 100px;
}

#reset-container {
  size: 100px
}

