body {
  background-color: rgb(117, 188, 108);
}

#score {
  font-size: 100px;
  border: 10px;
  border-style: ridge;
  border-color: rgb(255, 255, 255);
  background-color: rgb(164, 178, 191);
  padding: 10px;
}

h1 {
  font-size: 50;
  text-align: center;
  height: fit-content;
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
}
h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 200px;
  border-style: solid;
  padding: 10px;
  border-width: 5px;
  border-radius: 20px;
  border-width: 5px;
}

.button-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 100px;
  height: 200px;
  border-style: ridge;
  border-inline-width: 10px;
  border-color: rgb(123, 123, 127);
  border-radius: 40px;
  border-width: 20px;
}

.option-btn {
  color: rgb(0, 0, 1);
  font-size: 50px;
  border-radius: 20px;
  border-width: 10px;
  border-style: ridge;
}

#reset {
  font-size: 50px;
  background-color: rgb(163, 168, 200);
  border: 10px;
  border-style: ridge;
  padding: 15px;
  margin: 10px;
}

